# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# iOS related
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/ServiceDefinitions.json

# Android related
android/.gradle/
android/app/build/
android/build/

# VSCode related
.vscode/

# IntelliJ related
.idea/

# macOS related
macos/Flutter/Flutter.framework/
macos/Flutter/Generated.xcconfig
macos/.symlinks/

# Linux related
linux/Flutter/Flutter.framework/
linux/Flutter/Generated.xcconfig
linux/.symlinks/

# Windows related
windows/Flutter/Flutter.framework/
windows/Flutter/Generated.xcconfig
windows/.symlinks/

# Test related
test/

# Dart related
*.dart_tool/

# Miscellaneous
*.log
*.swp
*.swo
